/** @format */
/* @font-face {
	font-family: "ltc-bodoni-175", serif;
	font-weight: 400;
	font-style: normal;
	src: url("https://use.typekit.net/yri7fbm.css");
}

@font-face {
	font-family: "baskerville-urw", serif;
	font-weight: 400;
	font-style: normal;
	src: url("https://use.typekit.net/yri7fbm.css");
}

@font-face {
	font-family: "Fira Sans Condensed", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800&display=swap");
} */
@font-face {
	font-family: "protipo", sans-serif;
	src: url("https://use.typekit.net/yri7fbm.css");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "demos-next";
	src: url("https://use.typekit.net/af/7a4f71/00000000000000007735bbed/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/7a4f71/00000000000000007735bbed/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("woff"),
		url("https://use.typekit.net/af/7a4f71/00000000000000007735bbed/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
}

$breakpoint_xs: 360px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 14400px;
$breakpoint_xxl: 1600px;

$font-size: 12px;
$font-size-xs: 9px;
$font-size-sm: 9px;
$font-size-md: 11px;
$font-size-lg: 12.5px;
$font-size-xl: 14px;
$font-size-xxl: 16px;

$primary_blue: #485faf;
$secondary_blue: #c6ffff;
$tertiary_blue: #00a7e3;
$green: #04ceb4;
$gold: #bfa65a;
$cream: #f2f0e4;
$dark: #0b0e07;
$orange: #f15a29;
$red: #e52d27;
$activegreen: #10b981;
$wind-i-green: #36510e;
$primary_yellow: #fffc13;
$secondary_yellow: #fcee21;
$i-dark: #001d3b;
$ii-dark: #000002;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "protipo", sans-serif !important;
	font-style: normal;
	font-size: 12.5px;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4 {
	font-family: "demos-next", sans-serif;
	font-style: normal;
}

.std-size__font {
	font-size: $font-size-xs;
}
section:nth-child(even) {
	background: $secondary_blue;
	color: #001d3b;
}

.index-sport,
.index-headlines,
.index-culture {
	display: block;
	position: relative;
	min-width: 98%;
	min-height: fit-content;
	margin: 0 auto;
}

.index-sport {
	background: rgba(0, 0, 128, 0.5);
}

.sport-card {
	border-left: 3px solid #485faf;
}

.science-card {
	border-left: 3px solid #04ceb4;
}

.culture-card {
	border-left: 3px solid #fffc13;
}

.heading-block {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	min-width: 100%;
	position: relative;
	min-height: fit-content;
	justify-content: center !important;
	h1,
	h2,
	h3 {
		display: block;
		position: relative;
		width: fit-content;
	}
}

@media only screen and (max-width: $breakpoint_md) {
	html,
	body {
		font-family: "protipo", sans-serif;
		font-size: $font-size-md !important;
	}

	.std-size__font {
		font-size: $font-size-md !important;
	}
}

@media only screen and (max-width: $breakpoint_lg) {
	html,
	body {
		font-size: $font-size-lg !important;
	}

	.std-size__font {
		font-size: $font-size-lg !important;
	}
}

@media only screen and (max-width: $breakpoint_xl) {
	html,
	body {
		font-size: $font-size-xl !important;
	}

	.std-size__font {
		font-size: $font-size-xl !important;
	}
}

@media only screen and (max-width: $breakpoint_xxl) {
	html,
	body {
		font-size: $font-size-xxl !important;
	}

	.std-size__font {
		font-size: $font-size-xxl !important;
	}
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.15rem !important;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: 1.25rem;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 100%;
	min-height: 30vh;
	padding: 0.5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $secondary_blue;
	//background: linear-gradient(90deg, $primary_blue, #00a7e3);
	//background: radial-gradient(circle at 50% -100%, #000080, #2391ff, #c6ffff);
	color: $ii-dark;
	height: 110px;
	padding: 0 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 900;
}

.header a {
	color: #000080;
	margin-right: 20px;
	font-size: 1.25rem;
}

.login-btn {
	background-color: $green !important;
	color: #000002 !important;
	&:hover {
		background-color: #f2f0e4 !important;
	}
}

.logout-btn {
	background-color: $red !important;
	color: #f2f0e4 !important;
	&:hover {
		background-color: $primary_yellow !important;
	}
}

/** @format */

.hero {
	height: 210px;
	width: auto;
	background: #ffff url("/images/hero.jpg") no-repeat center center;
	color: #fff !important;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.sport-background {
	display: flex;
	height: 90vh;
	flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #ffff url("/SportsBackground.svg") no-repeat left 120px;
}

.controller-dropdown {
	display: block;
	position: relative;
	max-width: 700px !important;
	min-width: 60%;
	margin-left: 130px;
}

#controller-dropdown__menu {
	border: #04ceb4 2px solid;
}

.single-image {
	display: block !important;
	position: relative !important;
	height: 300px !important;
	width: auto !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 10% !important;
}
.author-image {
	display: block !important;
	position: relative !important;
	height: 150px !important;
	width: 150px !important;
	border-radius: 40% !important;
	margin: 0 12px !important;
	span img {
		border-radius: 50% !important;
	}
}

.overrideImage {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;
	margin-top: 0;
	width: calc(100%);
	margin-left: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0px !important;
}

.single-title,
.single-image__title {
	color: #000080;
	padding: 0 14px;
	z-index: 60000;
	text-align: justify !important;
}

.single-title h1 {
	border-bottom: #04ceb4 2px solid;
}

.single-image__title {
	display: block;
	position: absolute;
	background-color: $secondary_blue;
	padding: 14px;
	z-index: 60000;
	margin: 0 27%;
	font-size: 2.05rem;
	opacity: 0.7;
}

.singleNews-para {
	width: 60%;
	column-count: 1;
	column-gap: 5%;
	text-align: justify;
	margin: 0 auto;
}

.reading-progress-bar__container {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 14px;
	z-index: 1000000;
}

.reading-progress-bar {
	position: sticky;
	height: 14px;
	top: 0;
	margin-left: 0;
	background-color: $activegreen;
}

#filePicker {
	border: 2px solid navy;
	background: #04ceb4 !important;
	content: "Input File Here";
	line-height: 1.5rem;
	&:hover {
		background-color: #04ceb4;
		transform: scale(1.03);
		box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
			0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
			0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
	}
}

#filePicker::before {
	content: "🔗Image ";
}

input[type="file" i] {
	appearance: none;
	background-color: red;
	cursor: pointer;
	align-items: baseline;
	color: inherit;
	text-overflow: ellipsis;
	white-space: pre;
	text-align: start !important;
	padding: initial;
	border: initial;
	border-color: initial;
	overflow: hidden !important;
	border-radius: initial;
}

#file-upload-button {
	padding: 14px;
	color: #04ceb4;
}
.firstLetter {
	color: $primary_blue;
	float: left;
	font-size: 2.5rem;
	line-height: 36px;
	padding-top: -4px;
	padding-right: 8px;
}

.hero_banner {
	height: 190px;
	width: 100%;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	color: #fff !important;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
}

.hero::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: none;
}

.hero_banner::after {
	background-color: #001d3b;
	opacity: 0.6;
}

.hero * {
	z-index: 0;
}

.hero h1 {
	position: absolute;
	background-color: navy;
	bottom: 0;
	font-size: 1.5rem !important;
}

.hero_banner h1 {
	position: relative;
	background-color: transparent;
	margin-bottom: 0;
	font-size: 2.5rem !important;
}

.header a:hover {
	color: $activegreen;
}
.header ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}
.listed-articles {
	display: block;
	height: fit-content;
}
.logo {
	display: inline-block;
	background-image: url(../public/new_logo_1.svg);
	height: 105px !important;
	width: 105px !important;
	border: $primary_blue solid 1px;
	color: $gold;
	font-size: 1.75em;
	text-transform: uppercase;
}
li.items {
	display: block;
	position: relative;
}

.items__link::after {
	z-index: 0;
	content: "";
	position: absolute;
	border-right: 2px solid $cream;
	top: -30px;
	left: -20px;
	height: 70px;
	width: 10px;
	transform: skewX(-14deg);
}

.tagline {
	display: inline-flex;
	color: #000080;
	background-color: #ffffff;
	flex-direction: row;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	margin-top: 0;
	padding-top: 0;
	font-family: "demos-next";
	font-style: normal;
	font-size: 1.5rem;
}

main {
	width: calc(100% - 32px);
	margin: 0 16px;
	background: linear-gradient(45deg, $cream, white);
}

.lun__btn-primary {
	background-color: $green !important;
	border: $dark 2px solid !important;
	border-radius: 4px !important;
	color: #001d3b !important;
	padding: 9px 14px 9px 14px;
	&:hover {
		background-color: #f2f0e4 !important;
		transform: scale(1.03);
		box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
			0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
			0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
		color: #001d3b !important;
	}
}

.lun__btn-secondary {
	background-color: $secondary_yellow !important;
	color: #000002 !important;
	border: $dark 2px solid;
	border-radius: 5px;
	padding: 9px 14px 9px 14px;
	&:hover {
		background-color: #f2f0e4 !important;
		transform: scale(1.03);
		box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
			0 8px 32px -8px hsla(0, 30%, 25%, 0.14),
			0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
		color: #001d3b !important;
	}
}

.form__fieldset {
	display: block;
	width: calc(100% - 8px);
	margin-left: 4px !important;
	padding-left: 4px !important;
	background: linear-gradient(45deg, #f2f0e4, white);
}

.form__fieldset__grid {
	margin-left: 0 !important;
}
.news-container {
	display: flex;
	flex-wrap: wrap;
	min-width: 98% !important;
	margin: 0 auto;
	flex-direction: row;
}

.news-card {
	background-color: white;
	color: $dark !important;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-radius: 8px;
	box-shadow: 0px 1px 1px $primary_blue 0px 1px 2px $primary_blue !important;
	overflow: hidden;
	min-width: 94% !important;
	max-width: 100% !important;
	height: auto !important;
	margin-left: 0px;
	margin-bottom: 50px !important;
}

.singleNews {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	padding: 14px 14px;
}

.news-card:hover {
	transform: scale(1.03);
	box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
		0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
		0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.toggle-nav {
	display: none;
	position: absolute;
	right: 10px;
	top: 7px;
	padding: 5px;
	color: #000;
	font-size: 18px;
}

input[type="text"],
input[type="password"] {
	padding: 5px 12px;
	font-size: 1.25em;
	min-width: 73% !important;
	max-width: 700px;
	height: 40px;
	border: 1px solid $i-dark;
	border-radius: 7px;
	display: block;
	margin: 0 auto;
	font-family: "Baskerville";
	font-size: 13.5px;
	background: white;
}

input[type="text"]::after,
.formInput::after {
	border-bottom: none !important;
}

label {
	line-height: 2;
	text-align: left;
	display: block;
	margin-bottom: 13px;
	margin-top: 20px;
	margin: 0 29px;
	color: $primary_blue;
	font-size: 20px;
	font-weight: 200;
}

.form-label {
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 22px !important;
	font-family: "Baskerville";
	font-size: 13.5px;
}

#demo-simple-select {
	width: 140px;
	height: 20px;
	border: 1px solid $green;
	border-radius: 7px;
}
.form-input {
	display: block;
	margin: 0 auto;
	background: white;
	margin-top: 1.5rem;
}

.form-input button {
	display: block;
	position: relative;
	margin: 0 auto !important;
}

.form-input__dropdown {
	width: 200px !important;
	display: block;
	margin: 0 auto;
	background: white;
}
.formInput {
	display: block !important;
	margin: 0 auto !important;
}
.formInput::before {
	border-bottom: none !important;
}
.formInput__content {
	min-width: 75% !important;
	max-width: 700px !important;
	height: 400px !important;
	border: 1px solid $secondary_blue;
	border-radius: 7px;
	display: block;
	margin: 0 auto;
	font-family: "Baskerville";
	font-size: 13.5px;
	background: white;
}
input[type="text"]:focus {
	outline: none;
	box-shadow: none;
	border: $green 3px solid;
}

.home {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-message {
	margin-top: 16px;
	font-size: 1.5em;
	font-weight: 700;
}

.articles-card {
	border: 4px solid #f2f0e4;
	border-radius: 16px;
	display: flex;
	padding: 8px;
	text-align: center;
	background-color: #f2f0e4;
	font-weight: 800;
	color: #4f2424;
	text-transform: capitalize;
	align-items: center;
}

.search-grid {
	margin-top: 0px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 90%;
	grid-gap: 4px;
}

.toogle-nav {
	display: none;
}

@media screen and (max-width: $breakpoint_sm) {
	.tagline {
		display: none;
	}

	main {
		margin: 70px 16px !important;
	}
	.header {
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		height: 70px;
		padding: 0 5px;
		ul {
			margin-top: 30px;
		}
		.logo {
			height: 70px;
			width: 70px;
		}
	}

	.list {
		flex-direction: column;
		height: auto;
		background: linear-gradient(45deg, $cream, $green);
	}
	.items:nth-child(1) {
		border-top: 1px solid $gold;
		margin-top: 10px;
	}
	.items {
		width: 100%;
		border-top: 1px solid 1px solid $gold;
		text-align: center;
		margin-right: 0px;
		padding: 20px 0;
	}
	.toogle-nav {
		display: block;
		position: absolute;
		right: 10px;
		top: 7px;
		padding: 5px;
		color: #f2f0e4;
		font-size: 2rem;
		border-radius: 0 !important;
		background-color: $green !important;
	}
	.items__link::after {
		display: none;
	}
}

.single-asset {
	padding: 2px 16px !important;
	background: #fff !important;
	color: #000080;
	display: block;
	margin: 20px 10px;
	border-left: 8px solid $primary_blue !important;
}
.single-asset:hover {
	border-left: 8px solid $primary_yellow !important;
	color: $primary_yellow;
}

.delete {
	display: block;
	position: relative;
	background: $red;
	color: white;
	border: none;
	font-size: 1.25rem;
	margin: 0 auto;
}
