/** @format */
@font-face {
	font-family: "protipo", sans-serif;
	src: url("https://use.typekit.net/yri7fbm.css");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "demos-next";
	src: url("https://use.typekit.net/af/7a4f71/00000000000000007735bbed/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/7a4f71/00000000000000007735bbed/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("woff"),
		url("https://use.typekit.net/af/7a4f71/00000000000000007735bbed/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
}

$breakpoint_xs: 360px;
$breakpoint_sm: 780px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 14400px;
$breakpoint_xxl: 1600px;

$font-size: 12px;
$font-size-xs: 9px;
$font-size-sm: 9px;
$font-size-md: 11px;
$font-size-lg: 12.5px;
$font-size-xl: 14px;
$font-size-xxl: 16px;

$primary_blue: #485faf;
$secondary_blue: #c6ffff;
$tertiary_blue: #000080;
$green: #04ceb4;
$gold: #bfa65a;
$cream: #f2f0e4;
$dark: #0b0e07;
$orange: #f15a29;
$red: #e52d27;
$activegreen: #10b981;
$wind-i-green: #36510e;
$primary_yellow: #fffc13;
$secondary_yellow: #fcee21;
$i-dark: #001d3b;
$ii-dark: #000002;


html,
body {
	padding: 0;
	margin: 0;
	font-family: "protipo", sans-serif !important;
	font-style: normal;
	font-size: 12.5px;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, $cream, white);
}

h1,
h2,
h3,
h4 {
	font-family: "demos-next", sans-serif;
	font-style: normal;
	color: $tertiary_blue;
}

.std-size__font {
	font-size: $font-size-xs;
}

section:nth-child(even) {
	background: linear-gradient(135deg, $cream, white);
	color: #001d3b;
}

section:nth-child(odd) {
	background: transparent;
	color: $tertiary_blue;
}

.category-text{
	text-transform: capitalize;
	color: #000080;
}

.index-sport,
.index-headlines,
.index-culture,
.index-nature {
	display: block;
	position: relative;
	min-width: 98%;
	min-height: fit-content;
	margin: 0 auto;
}

.index-sport {
	background: rgba(0, 0, 128, 0.5);
}

.sport-card {
	border-left: 4.8px solid $gold;
}

.science-card {
	border-left: 4.8px solid $tertiary_blue;
}

.culture-card {
	border-left: 4.8px solid $green;
}
.MuiGrid-root {
	width: 100% !important;
	margin-left: 0px !important;
	height: fit-content !important;
	padding-bottom: 14px;
	margin-top: 0;
}
.heading-block {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	min-width: 100%;
	position: relative;
	min-height: fit-content;
	justify-content: center !important;
	margin-top: 0;
	h1,
	h2,
	h3 {
		display: block;
		position: relative;
		width: fit-content;
	}
}

.header-input {
	height: 40px;
	max-width: 170px;
	min-width: 10%;
	border-radius: 4px !important;
	border: $tertiary_blue 1px solid !important;
	font-size: 1em;
	margin-left: 6px;
}

.admin-add__text,
.admin-add__icon {
	font-size: 16px !important;
	color: #000080;
}
.admin-add__icon {
	font-size: 2.25rem !important;
}

button {
	height: 50px;
	width: fit-content;
	color: white;
	background-color: $tertiary_blue;
	font-size: 1.25rem;
	&:hover {
		background-color: $green;
	}
}

.header-input__btn {
	height: 60px;
	width: 60px;
	min-width: 4%;
	color: #04ceb4 !important;
	border-radius: 4px !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	margin-top: -6px !important;
	&:hover {
		color: $green !important;
	}
	& svg {
		background-size: cover !important;
		height: 60px !important;
		width: 60px !important;
		color: white !important;
		padding: 0 !important;
		margin: 0 !important;
		font-size: 2.5rem !important;
		&:hover {
			color: $green !important;
		}
	}
}

@media only screen and (max-width: $breakpoint_md) {
	html,
	body {
		font-family: "protipo", sans-serif;
		font-size: $font-size-md !important;
	}

	.header-input {
		max-width: 170px;
		min-width: 10%;
	}

	.std-size__font {
		font-size: $font-size-md !important;
	}
}
.tagline {
	display: none;
}
@media only screen and (max-width: $breakpoint_lg) {
	input[type="text"],
	input[type="password"] {
		max-width: 700px;
	}

	html,
	body {
		font-size: $font-size-lg !important;
	}

	.std-size__font {
		font-size: $font-size-lg !important;
	}
}

@media only screen and (max-width: $breakpoint_xl) {
	html,
	body {
		font-size: $font-size-xl !important;
	}

	.std-size__font {
		font-size: $font-size-xl !important;
	}
}

@media only screen and (max-width: $breakpoint_xxl) {
	html,
	body {
		font-size: $font-size-xxl !important;
	}

	.std-size__font {
		font-size: $font-size-xxl !important;
	}
}

h1 {
	font-size: 3rem;
	text-transform: capitalize;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.5rem;
}

caption {
	display: inline-block;
	max-width: 200px;
	min-width: 90%;
	font-size: 0.75rem;
	margin: 0 34px;
	color: $tertiary_blue;
}
h4 {
	font-size: 1.15rem !important;
}

a {
	color: $tertiary_blue !important;
	text-decoration: none;
	font-size: 1.25rem;
	&:hover {
		color: $green;
		text-decoration: underline;
	}
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 100%;
	min-height: 30vh;
	padding: 0.5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 2px 2px 0 rgb(0 0 0 / 10%);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:navy !important;
	//background: linear-gradient(90deg, $primary_blue, #00a7e3);
	//background: radial-gradient(circle at 50% -100%, #000080, #2391ff, #c6ffff);
	color: $ii-dark;
	height: 110px;
	padding: 0 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 900;
}

.header a {
	color: $cream!important;
	margin-right: 20px;
	font-size: 1.25rem;
}

.login-btn {
	background-color: $green !important;
	color: $cream !important;
	&:hover {
		background-color: $cream !important;
		color: $red !important;
	}
}

.logout-btn {
	background-color: $red !important;
	color: #f2f0e4 !important;
	font-family: "protipo", sans-serif !important;
	&:hover {
		background-color: $green !important;
	}
}

/** @format */

.hero {
	height: 340px;
	width: auto;
	background: #ffff url("/images/hero.jpg") no-repeat center center;
	color: #fff !important;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.sport-background {
	display: flex;
	height: 90vh;
	flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #ffff url("/SportsBackground.svg") no-repeat left 120px;
}

.controller-dropdown {
	display: block;
	position: relative;
	max-width: 700px !important;
	min-width: 60%;
	margin-left: 130px;
}

#controller-dropdown__menu {
	border: #04ceb4 2px solid;
}

.single-image {
	display: block !important;
	position: relative !important;
	height: 300px !important;
	width: auto !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 10% 14px !important;
	box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
		0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.single-image__container {
	border: 1px solid $tertiary_blue;
	box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
		0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.author-image {
	display: block !important;
	position: relative !important;
	height: 150px !important;
	width: 150px !important;
	border-radius: 40% !important;
	margin: 0 12px !important;
	span img {
		border-radius: 50% !important;
	}
}

.overrideImage {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;
	margin-top: 0;
	width: calc(100%);
	margin-left: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0px !important;
}

.single-title,
.single-image__title {
	color: $tertiary_blue;
	padding: 0 14px;
	z-index: 60000;
	text-align: center !important;
}

.single-title h1 {
	border-bottom: #04ceb4 2px solid;
}

.single-image__title {
	display: block;
	position: absolute;
	background-color: $secondary_blue;
	padding: 14px;
	z-index: 60000;
	margin: 0 27%;
	font-size: 2.05rem;
	opacity: 0.7;
}

.category-link {
	font-size: 1.2rem;
	color: $gold !important;
	text-decoration: underline;
	&:hover {
		color: $tertiary_blue !important;
		cursor: pointer;
	}
}

.author-link {
	font-size: 1.4rem;
	color: $orange !important;
	text-decoration: underline;
	&:hover {
		color: $tertiary_blue !important;
		cursor: pointer;
	}
}
.singleNews-para {
	max-width: 565px;
	min-width: 50%;
    -moz-column-count: 1;
    column-count: 1;
    grid-column-gap: 5%;
    -moz-column-gap: 5%;
    column-gap: 5%;
    text-align: justify;
    margin: 0 auto;
    color: #000080;
    line-height: 1.75rem;
    font-size: 16px!important;
}



.reading-progress-bar__container {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 8px;
	z-index: 1;
}

.reading-progress-bar {
	position: sticky;
	height: 8px;
	top: 0;
	margin-left: 0;
	background-color: $tertiary_blue;
	border-radius: 0 4px 4px 0;
}

#filePicker {
	border: 2px solid navy;
	background: #04ceb4 !important;
	content: "Input File Here";
	line-height: 1.5rem;
	&:hover {
		background-color: $green !important;
		transform: scale(1.03);
		box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
			0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
			0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
	}
}

#filePicker::before {
	content: "🔗Image ";
}

input[type="file" i] {
	appearance: none;
	background-color: red;
	cursor: pointer;
	align-items: baseline;
	color: inherit;
	text-overflow: ellipsis;
	white-space: pre;
	text-align: start !important;
	padding: initial;
	border: initial;
	border-color: initial;
	overflow: hidden !important;
	border-radius: initial;
}

#file-upload-button {
	padding: 14px;
	color: #04ceb4;
}
.firstLetter {
	color: $primary_blue;
	float: left;
	font-size: 2.5rem;
	line-height: 36px;
	padding-top: -4px;
	padding-right: 8px;
}

.hero_banner {
	height: 190px;
	width: 100%;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	color: #fff !important;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
}

.hero::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: none;
}

.hero_banner::after {
	background-color: #001d3b;
	opacity: 0.6;
}

.hero * {
	z-index: 0;
}

.hero h1 {
	position: absolute;
	background-color: navy;
	bottom: 0;
	font-size: 1.5rem !important;
}

.hero_banner h1 {
	position: relative;
	background-color: black;
	margin-bottom: 0;
	font-size: 2.5rem !important;
}

.header a:hover {
	color: $red !important;
	text-decoration: underline;
}
.header ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}
.listed-articles {
	display: block;
	height: fit-content;
}
.logo {
	display: inline-block;
	background-image: url(../public/new_lun_logo.svg);
	height: 105px !important;
	width: 105px !important;
	border: 1px solid $tertiary_blue;
	color: $gold;
	font-size: 1.75em;
	text-transform: uppercase;
	border-radius: 4px;
}
li.items {
	display: block;
	position: relative;
}

.items__link::after {
	z-index: 0;
	content: "";
	position: absolute;
	border-right: 2px solid $gold;
	top: -30px;
	left: -20px;
	height: 70px;
	width: 10px;
	transform: skewX(-14deg);
}

.tagline {
	display: inline-flex;
	color: #000080;
	background-color: transparent;
	flex-direction: column;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	margin-top: 0;
	padding-top: 0;
	font-family: "demos-next";
	font-style: normal;
	font-size: 1.5rem;
}

.flex-box {
	display: inline-flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	margin-top: 0;
	padding-top: 0;
	font-family: "demos-next";
	font-style: normal;
	font-size: 1.5rem;
}

main {
	width: calc(100% - 32px);
	margin: 0 16px;
	//	background: linear-gradient(45deg, $cream, white);
	background-color: transparent;
	min-height:70vh
}

.lun-primary {
	text-decoration: underline;
	color: $gold;
	text-transform: lowercase;
}

.lun-secondary::first-letter,
.lun-primary::first-letter {
	text-transform: uppercase;
}
.lun-secondary {
	text-decoration: underline;
	color: $green;
	text-transform: capitalize;
}

.lun-primary__btn,
.sport__btn-primary {
	background-color: $tertiary_blue !important;
	border: $dark 1px solid #f2f0e4 !important;
	border-radius: 4px !important;
	color: #f2f0e4 !important;
	padding: 9px 14px 9px 14px;
	display: block;
	margin: 0 auto 10px;
	font-family: "protipo", sans-serif !important;
	&:hover {
		text-decoration: underline;
		background-color: $green !important;
		transform: scale(1.03);
		box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
			0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
			0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
		color: $tertiary_blue !important;
	}
}

.d-flex {
	display: inline-flex;
	padding: 5px 10px 5px 10px;
	margin: 10px auto 5px !important;
	text-transform: capitalize !important;
}

.sport__btn-primary {
	background-color: $cream !important;
}

.lun__btn-secondary {
	background-color: $cream !important;
	color: #000002 !important;
	border: $dark 2px solid;
	border-radius: 5px;
	padding: 9px 14px 9px 14px;
	&:hover {
		background-color: $green !important;
		transform: scale(1.03);
		box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
			0 8px 32px -8px hsla(0, 30%, 25%, 0.14),
			0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
		color: #001d3b !important;
	}
}

form{
	min-width: 500px;
}

.form__fieldset {
	display: block;
	width: calc(100% - 8px);
	margin-left: 4px !important;
	padding-left: 4px !important;
	background: linear-gradient(45deg, #f2f0e4, white);
}

.form__fieldset__grid {
	margin-left: 0 !important;
}
.news-container {
	display: flex;
	flex-wrap: wrap;
	min-width: 98% !important;
	margin: 0 auto;
	flex-direction: row;
}

.news-card {
	background-color: white;
	color: $dark !important;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-radius: 8px;
	box-shadow: 0px 1px 1px $primary_blue 0px 1px 2px $primary_blue !important;
	overflow: hidden;
	min-width: 94% !important;
	max-width: 100% !important;
	height: auto !important;
	margin-left: 0px;
	margin-bottom: 50px !important;
}

.card-title{
	display: block;
	margin-top: 0;
	min-height:128px;
	margin-bottom: 14px;
}

.singleNews {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	padding: 14px 14px;
	background-color: transparent;
	//	box-shadow: 2px 2px 0 rgb(0 0 0 / 10%);
}

.news-card:hover {
	transform: scale(1.03);
	box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
		0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
		0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.toggle-nav {
	display: none;
	position: absolute;
	right: 10px;
	top: 7px;
	padding: 5px;
	color: #000;
	font-size: 18px;
}

input[type="text"]::after,
.formInput::after {
	border-bottom: none !important;
}
input {
	font-family: "protipo", sans-serif !important;
}
.error {
	background-color: $orange;
	color: #f2f0e4;
	max-width: fit-content;
	margin: 0 auto;
}
.success {
	background-color: #04ceb4;
	max-width: fit-content;
	margin: 0 auto;
}

label {
	line-height: 2;
	text-align: left;
	display: block;
	margin-bottom: 13px;
	margin-top: 20px;
	margin: 0 29px;
	color: $primary_blue;
	font-size: 20px;
	font-weight: 200;
}

.form-label {
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 22px !important;
	font-family: "protipo", sans-serif !important;
	font-size: 13.5px;
}

#demo-simple-select {
	width: 140px;
	height: 20px;
	border: 1px solid $green;
	border-radius: 7px;
}
.form-input {
	display: block;
	margin: 0 auto;
	padding: 14px;
	background: transparent;
	margin-top: 1.5rem;
}

.form-input button {
	display: block;
	position: relative;
	margin: 0 auto !important;
	background-color: $tertiary_blue;
	color: white;
	padding: 20px;
}

.form-input__dropdown {
	width: 200px !important;
	display: block;
	margin: 0 auto;
	background: white;
}
.formInput {
	display: block !important;
	margin: 0 auto !important;
}
.formInput::before {
	border-bottom: none !important;
}
.formInput__content {
	min-width: 75% !important;
	max-width: 700px !important;
	height: 400px !important;
	border: 1px solid $secondary_blue;
	border-radius: 7px;
	display: block;
	margin: 0 auto;
	font-family: "protipo", sans-serif !important;
	font-size: 13.5px;
	background: white;
	border: 1px solid $tertiary_blue;
}
.formContact__content {
	height: 200px !important;
}

textarea:focus,
input[type="text"]:focus {
	outline: none;
	box-shadow: none;
	border: $green 3px solid !important;
	background-color: $cream;
}

.header-input:focus {
	border: $green 3px solid !important;
	background-color: $cream;
}

.home {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-message {
	margin-top: 16px;
	font-size: 1.5em;
	font-weight: 700;
}

.articles-card {
	border: 4px solid #f2f0e4;
	border-radius: 16px;
	display: flex;
	padding: 8px;
	text-align: center;
	background-color: #f2f0e4;
	font-weight: 800;
	color: #4f2424;
	text-transform: capitalize;
	align-items: center;
}

.search-grid {
	margin-top: 0px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 90%;
	grid-gap: 4px;
}

.toogle-nav {
	display: none;
}
input[type="text"],
input[type="password"] {
	padding: 5px 12px;
	min-width: 73% !important;
	max-width: 75%;
	height: 40px;
	border: 1px solid $tertiary_blue;
	border-radius: 7px;
	display: block;
	margin: 0 auto;
	font-size: 13.5px;
	background: white;
}

@media screen and (max-width: $breakpoint_sm) {
	.tagline {
		display: none;
	}

	h1 {
		font-size: 1.05rem;
	}
	p {
		font-size: 0.75rem;
	}
	text {
		font-size: 14px !important;
	}
	.ReactModal__Content {
		margin-top: 40px;
		z-index: 10000 !important;
	}
	.search-grid {
		margin-top: 0px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		width: 90%;
		grid-gap: 4px;
	}

	.logo {
		height: 90px !important;
		width: 90px !important;
	}
	main {
		margin: 40px auto !important;
	}

	.singleNews-para {
		width: 77%;
		color: #000080;
		line-height: 1.5rem;
	}

	.header {
		display: flex;
		position: fixed;
		justify-content: space-between;
		height: 90px !important;
		top: 0;
		width: 100%;
		padding: 0 5px;
		ul {
			display: block;
			position: absolute;
			margin-top: 580px;
			width: 100%;
			padding-inline-start: 0 !important;
		}
	}

	.list {
		flex-direction: column;
		height: auto;
		background: linear-gradient(45deg, white, $cream);
	}
	.items:nth-child(1) {
		border-top: 1px solid $gold;
		margin-top: 10px;
	}
	.items {
		width: 100%;
		border-top: 1px solid 1px solid $gold;
		text-align: center;
		margin-right: 0px;
		padding: 20px 0;
	}
	.toogle-nav {
		display: flex;
		position: relative;
		right: 40px;
		top: 4px;
		padding: 15px;
		color: $tertiary_blue;
		font-size: 1rem;
		border-radius: 0 !important;
		//background: linear-gradient(45deg, $tertiary_blue, transparent);
		background-color: white;
		border-radius: 4px !important;
		border: 2px solid $tertiary_blue !important;
	}
	.items__link::after {
		display: none;
	}
	.reading-progress-bar__container {
		top: 90px !important;
		height: 8px;
	}
	.reading-progress-bar {
		height: 8px;
	}
	.header-input {
		max-width: 145px !important;
		min-width: 50% !important;
	}
	.single-title {
		font-size: 1.5rem;
	}
}
@media only screen and (max-width: $breakpoint_md) {
	.tagline {
		display: none !important;
	}
	.header-input {
		max-width: 60% !important;
		min-width: 60% !important;
	}

	h1 {
		font-size: 1.5rem;
	}
	p {
		font-size: 0.75rem;
	}
	.single-title {
		font-size: 2rem;
	}
}

.single-asset {
	padding: 2px 16px !important;
	background: #fff !important;
	color: $tertiary_blue !important;
	display: block;
	margin: 20px 10px;
	border-left: 8px solid $tertiary_blue !important;
	font-family: "protipo", sans-serif !important;
	text-transform: capitalize;
}
.single-asset:hover {
	border-left: 8px solid $green !important;
	color: $green !important;
}

.delete {
	display: block;
	position: relative;
	background: $red;
	color: #f2f0e4;
	border: none;
	font-size: 1.25rem;
	text-transform: uppercase !important;
	margin: 20px 10px !important;
	border-radius: 4px;
}
